server:
  forward-headers-strategy: native

spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 6000
      database: 0

## JWT
jwt:
  secret: ${JWT_SECRET_KEY}
  access-token-expiration: 600000
  refresh-token-expiration: 1209600000

# S3
cloud:
  aws:
    credentials:
      access-key: ${AWS_CREDENTIALS_ACCESS_KEY}
      secret-key: ${AWS_CREDENTIALS_SECRET_KEY}
    s3:
      bucketName: myblog-boot-bucket
    region:
      static: ap-northeast-2
      auto: false
