* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @font-face {
  font-family: "Nanum Myeongjo";
  src: url(./assets/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
} */
