.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 높이 만큼 가운데 정렬 */
}
.join-form {
  width: 300px; /* 원하는 폼 너비로 설정 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
