#header {
  border-bottom: 1px solid #eee;
  background-color: gainsboro;
  font-weight: bolder;
}
#header h1 {
  font-family: "Playfair Display", serif;
}
.inner {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  text-decoration: none;
}
.nav-link {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.nav-link:hover {
  border-bottom: 5px solid black;
}
